@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --clr-dark: #12372a;
  --clr-nav: #789461;
  --clr-font: #f1f8ff;
}
* {
  margin: 0;
  padding: 0;
}
.whole-nav-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* gap: 15%; */
  background-color: #12372a;
}
.logo{
  display: flex;
  gap: 10px;
  align-items: center;
  color: #f1f8ff;
}
.logo img{
  width: 100px;
  height: 50px;
}
.nav_bar{
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #12372a;
  margin-right: 20px;
}
.each-nav-bar:hover{
  border-bottom: #f1f8ff;
}
.icon {
  display: none;
}
@media(max-width: 630px){
   .icon{ 
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f1f8ff;
  }
  .hidden{
    display: none;
  }
  .nav_bar{
    flex-direction: column;
    gap: 30px;
    width: 100%;
    transition: 1s;
    margin-top: 8%;
    position: absolute;
    text-align: center;
    padding: 50px;
    z-index: 5;
  }
}
@media(max-width: 450px){
  .nav_bar{
    margin-top: 11.5%;
  }
}