.form-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media(max-width: 770px){
    .form-container{
        width: 130%;
   }
}
@media(max-width: 685px){
    .form-container{
        display: flex;
        flex-direction: column;
        width: 100%;
   }
}