* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: var(--clr-font);
}
.faq__title {
  font-size: 2em;
  text-align: center;
  padding: 5rem 0 1rem;
  color: var(--clr-dark);
}
.faq__para {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.2em;
}
.accordion {
  width: 700px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  padding-right: 48px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.number {
  font-size: 1.5em;
  font-weight: 500;
}

.title2,
.icon2 {
  font-size: 1.4em;
  font-weight: 500;
  color: var(--clr-dark);
}

.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
}

.content-box ul {
  /* color: #868e96; */
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
.open {
  border-top: 4px solid var(--clr-dark);
}

.open .number,
.open .title {
  color: var(--clr-dark);
}
.faq__title__two {
  text-align: center;
  font-size: 2em;
  color: var(--clr-dark);
  padding: 3rem 0 1rem;
}
.faq__par__two {
  text-align: center;
  color: var(--clr-dark);
}
.faq button {
  margin: 2rem auto;
  display: flex;
}
.phone,
.location {
  text-align: center;
  padding: 2rem 0 0;
  display: flex;
  justify-content: center;
}
.phone span,
.location span {
  font-size: 1.4em;
  color: var(--clr-dark);
  padding-right: 1rem;
}
.contact__btn {
  background: var(--clr-dark);
  display: flex;
  margin: 4rem auto 0;
  padding: 14px 85px;
  border-radius: 10px;
  border: 2px solid var(--clr-dark);
  cursor: pointer;
}
.contact__btn a {
  font-size: 1.4em;
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  color: #f1f8ff;
}
@media (max-width: 860px) {
  .accordion {
    width: 75%;
  }
  .title2,
  .icon2 {
    font-size: 1.2em;
  }
}
